# Ignore virtual environments
venv/
.env/
.venv/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore CSV test data from site-packages
**/site-packages/**/tests/data/*
